
@media screen and (max-width: 1105px) {
    .search {
        width: 782px;
        height: 60px;
        margin-top: 38px;
    }

    .search input[type=search] {
        width: 607px;
        height: 58px;
    }

    .wrapper{
        height: 90%;
        width: 83%;
        justify-content: space-around;
    }

    .card_1, .card_2, .card_3, .card_4, .card_5, .card_6{
        margin:15px;
    }
}


@media screen and (max-width: 870px) {

    html, body {
        margin: 0;
        padding: 0;
    }

    .top_menu .ipad {
        width: 547px;
        height: 430px;
    }

    .top_menu .ipad h1 {
        font-size: 70px;
        font-weight: 300;
        margin: -40px 0 0 0;
    }

    .top_menu .outlet {
        width: 140px;
        height: 46px;
        margin: 0px 260px 0px 0;
    }

    .top_menu .ipad .button_top_ipad {
        border: none;
        border-radius: 8px;
        padding: 23px 50px;

        font-size: 25px;
        margin: 80px 0px -67px 0;
    }

    .top_menu .ipad h1 {
        font-size: 90px;
        font-weight: 400;
    }

    .top_menu .ipad {
        min-width: 560px;
        min-height: 429px;
    }


    /*-------------------Inputs------------------------------------*/
    .search {
        width: 590px;
        height: 60px;
        margin-top: 38px;
    }

    .search input[type=search] {

        width: 400px;
        height: 58px;
    }

    /*-------------------Cards------------------------------------*/

    .card_1, .card_2, .card_3, .card_4, .card_5, .card_6{
        margin-top:25px;
    }
}

