@media screen and (max-width: 1305px) {

    .wrapper{
        justify-content: space-evenly;
    }


}



@media screen and (max-width: 1105px) {
    .modal .modal_container .modal_info .card_1_bottom{
        margin: 0 7px 0 7px;
    }


    .slider{
        width: 120%;
    }

    .ipad{
        width: 780px;
    }

    .ipad img{
       height: 480px;

    }

    .ipad h1{
        font-size: 53px;
        margin: -72px 0 0 0;
    }

    .search {
        width: 782px;
        height: 60px;
        margin-top: 38px;
    }

    .search input[type=search] {
        width: 607px;
        height: 58px;
    }

    .wrapper{
        height: 90%;
        width: 83%;
        justify-content: space-around;
    }

    .card_1, .card_2, .card_3, .card_4, .card_5, .card_6{
        margin:15px;
    }
}




@media screen and (max-width: 870px) {

    .back_to_top{
        left: 27px;
    }

    .modal .modal_container .infoAboutItem li{
        margin: -7px 0 0 15px;
    }

    .modal .modal_container .modal_image img {
        height: 175px;
    }

    .modal .modal_container .modal_info .card_1_bottom{
        width: 287px;
    }

    .modal .modal_priceAndButton .modalButton {
        padding: 12px 10px;
        font-size: 23px;
    }

    .ipad .button_top_ipad{
        font-size: 15px;
    }

    .slider{
        width: 120%;
    }

    .ipad{
        width: 680px;
    }

    .ipad img{
        height: 400px;

    }

    .ipad h1{
        font-size: 36px;
        margin: -72px 0 0 0;
    }

    html, body {
        margin: 0;
        padding: 0;
    }

    .top_menu .ipad {
        width: 547px;
        height: 430px;
    }


    .top_menu .outlet {
        width: 140px;
        height: 46px;
        margin: 0px 260px 0px 0;
    }

    .top_menu .ipad .button_top_ipad {
        border: none;
        border-radius: 8px;
        padding: 23px 50px;

        font-size: 25px;
        margin: 80px 0px -67px 0;
    }

    .top_menu .ipad h1 {
        font-size: 90px;
        font-weight: 400;
    }

    .top_menu .ipad {
        min-width: 560px;
        min-height: 429px;
    }


    /*-------------------Inputs------------------------------------*/
    .search {
        width: 590px;
        height: 60px;
        margin-top: 38px;
    }

    .search input[type=search] {

        width: 400px;
        height: 58px;
    }

    /*-------------------Cards------------------------------------*/

    .card_1, .card_2, .card_3, .card_4, .card_5, .card_6{
        margin-top:25px;
    }
}

@media screen and (max-width: 750px) {
    .ipad img{
        height: 350px;
    }


    .back_to_top{
        left: 5px;
    }
}