*
  box-sizing: border-box

  html
    width: 100%
    max-width: 100%
    overflow-x: hidden

body
  width: 100%
  max-width: 100%
  overflow-x: hidden


::-webkit-scrollbar
  display: none

body
  font-family: Calibri

.body_modified
  padding-right: 17px
  overflow: scroll

$blue_color: #0E49B5
$borderShadow: 0 0 20px rgb(0 0 0 / 18%)
$borderRadius: 8px
$borderLine:  none


.top_menu
  display: flex
  align-items: center
  flex-direction: column

.outlet
  max-width: 70%
  display: flex
  justify-content: center
  img
    margin: 10px 0 10px 0

.ipad
  position: relative
  display: flex
  justify-content: center
  margin: 15px
  img
    height: 555px
  & h1
    font-family: inherit
    position: absolute
    top: 185px
    color: black
    font-size: 50px
    font-weight: 400
    margin: -40px 0 0 0
    padding: 0 0 0 26px
  & h3
    font-weight: inherit
    font-size: 35px
    padding: 0 0 0 26px
  .button_top_ipad
    background-color: $blue_color
    border: none
    border-radius: $borderRadius
    position: absolute
    bottom: 53px
    color: white
    padding: 15px 32px
    text-align: center
    text-decoration: none
    display: inline-block
    font-size: 19px
    margin: 15px 0px -20px 26px
    cursor: pointer


.buttonSliderWrapper
  display: flex
  justify-content: space-between


//////////////////////// inputs //////////////////////////////////////////////

.search
  width: 1025px
  height: 55px
  margin: 32px 0 41px 0
  border: $borderLine
  box-shadow: $borderShadow
  border-radius: $borderRadius
  & input[type="search"]
    border: none
    outline: none
    text-decoration: none
    width: 850px
    height: 53px
    font-size: 18px
  input[type="search"]::-webkit-search-cancel-button
    display: none
  & input[type="image"]
    vertical-align: middle
    width: 50px
    height: 34px
    padding: 0 0 4px 0
    margin: 0 0 0 -5px
  #look
    margin: 0 10px 0 10px

.topButtons
  outline: none
  border: 0
  background: transparent
  vertical-align: middle
  width: 50px
  height: 34px
  margin: 0 0 0 3px
.topButtons img
  width: 30px
  height: 30px




//////////////////////// cards //////////////////////////////////////////////

.wrapper
  width: 1025px
  height: auto
  margin: 0 auto
  display: flex
  justify-content: space-between
  align-content: space-between
  flex-wrap: wrap
  .card_1
    height: 480px
    width: 299px
    box-shadow: $borderShadow
    border-radius: $borderRadius
    border: none
    margin: 20px 0 20px 0
    button[type="submit"]
      cursor: pointer
      border: 0
      background: transparent
      float: right
      img
        width: 32px
        height: 28px
        margin: 10px 10px 0 0
    .image_wrap
      height: auto
      width: 299px
      display: flex
      align-items: center
      flex-direction: column
      img
        height: 155px
        width: 142px
      h1
        font-family: inherit
        font-size: 30px
        font-weight: 700
        margin: 13px 0px -14px 0
      .check
        font-family: inherit
        font-size: 19px
        color: grey
        span.amount
          font-family: inherit
          font-weight: bold
      .checkk
        display: flex
        align-items: center
        & img
          width: 30px
          height: 30px
      .butt_wrapper
        display: flex
        align-items: center
        flex-direction: column
      .price
        font-family: inherit
        font-size: 19px
        color: grey
        margin: -8px 0 0 0
        span.price
          font-family: inherit
          font-weight: bold
      .button_card_1
        background-color: $blue_color
        border: $borderLine
        border-radius: $borderRadius
        color: white
        padding: 15px 32px
        text-align: center
        text-decoration: none
        display: inline-block
        font-size: 19px
        margin: 15px 0px -20px 0
        cursor: pointer
      .button_card_1_disabled
        border: $borderLine
        cursor: not-allowed
        background-color: rgb(229, 229, 229)
        border-radius: $borderRadius
        color: white
        padding: 15px 32px
        text-align: center
        text-decoration: none
        display: inline-block
        font-size: 19px
        margin: 15px 0px -20px 0
    .card_1_bottom
      display: flex
      justify-content: space-around
      height: 87px
      background-color: #DAE2EA
      margin: 36px 0 0 0
      border-radius: 0 0 8px 8px
      .views
        font-family: inherit
        font-size: 19px
        color: black
      .views::before
        content: ""
        background-image: url(../img/icons/like_filled.svg)
        margin: 0 6px -6px 11px
        width: 25px
        display: inline-block
        height: 24px
      span.rating
        font-family: inherit
        font-weight: bold
      .amountOfOrdersWrapper
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        padding: 0 10px 0 0
        span.amountOfOrders
          font-family: inherit
          font-weight: bold
          margin: 23px 0 -11px 0
        .orders
          font-family: inherit
          font-size: 17px
          color: black
          padding: 0 0 11px 0
      .avarageWrapper
        display: flex
        flex-direction: column
        align-items: center
        align-content: space-between
        span.aboveAvarage
          font-family: inherit
          font-size: 17px
          margin: -16px 13px 0 0




//////////////////////// accordion  //////////////////////////////////////////////

.section
  width: 299px
  height: 80%
  border: $borderLine
  box-shadow: $borderShadow
  border-radius: $borderRadius
  margin: 20px 35px 0 35px
  .accord_button
    display: flex
    justify-content: space-between
    border-bottom: 1px solid black
    padding: 15px 15px 0 12px
    background-color: #EDF3FF
  #fifthButtonDisplay
    border-bottom: none
  .accordion__button-title
    padding: 0 0 0 10px
  .accordion__button-arrow
    transform: rotate(0deg)
    transition: 0.3s all cubic-bezier(0.85, 0.11, 0.58, 1)
  .price-filter
    display: flex
    padding: 12px 0 12px
    margin: -13px 0 0px 0px
    align-items: center
    flex-direction: column
    align-content: space-around
    justify-content: center
    list-style-type: none
    .price-filter__item
      margin: 10px 0 10px 0
      display: flex
      align-content: flex-end
      justify-content: space-around
      flex-wrap: wrap
      flex-direction: column
  .accord_down_body
    .checkbox
      padding: 5px
      margin: 5px
    .checkbox-row
      display: flex
      justify-content: space-evenly
      margin: 15px 0 15px -20px
      padding: 5px 20px 0 0
      .checkbox
        padding: 5px
  .price-filter__item input
    width: 180px
    height: 35px

.checkbox-column1
  display: flex
  flex-direction: column
  align-items: flex-end
  label
    padding-top: 10px

.checkboxOs
  display: flex
  flex-direction: column
  align-items: flex-end
  margin: 10px 60px 12px 0
  label
    padding-top: 10px


.checkbox-column3
  display: flex
  flex-direction: column
  align-items: flex-end
  label
    padding-top: 10px

.checkbox-row4
  display: flex
  flex-direction: column
  align-items: flex-end
  flex-wrap: wrap
  align-content: center
  margin: 10px 0 10px 0
  label
    padding: 5px 0 5px 0







.main
  display: flex


.modal
  position: fixed
  left: 0
  top: 0
  width: 100%
  height: 100vh
  background-color: rgba(0, 0, 0, 0.507)
  display: none
  justify-content: center
  align-items: center
  .modal_container
    max-width: 90%
    height: 500px
    background-color: #ffff
    display: flex
    margin: 0 -15px 0 0
    .modal_image
      display: flex
      justify-content: center
      align-items: center
      width: 300px
      height: 500px
      border-right: 1px solid black
      img
        height: 200px
    .modal_info
      width: 441px
      height: 500px
      border-right: 1px solid black
      display: flex
      flex-wrap: wrap
      h1
        margin: 30px 0 0 55px
      .card_1_bottom
        display: flex
        justify-content: space-around
        width: 300px
        height: 87px
        background-color: #DAE2EA
        border-radius: 8px 8px 8px 8px
        margin: 0 0 0 55px
      .infoAboutItem
        span
          font-weight: bolder
      .views
        font-family: inherit
        font-size: 19px
        color: black
      .views::before
        content: ""
        background-image: url(../img/icons/like_filled.svg)
        margin: 0 6px -6px 11px
        width: 25px
        display: inline-block
        height: 24px
      span.rating
        font-family: inherit
        font-weight: bold
      .amountOfOrdersWrapper
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        padding: 0 10px 0 0
        span.amountOfOrders
          font-family: inherit
          font-weight: bold
          margin: 23px 0 -11px 0
        .orders
          font-family: inherit
          font-size: 17px
          color: black
          padding: 0 0 11px 0
      .avarageWrapper
        display: flex
        flex-direction: column
        align-items: center
        align-content: space-between
        span.aboveAvarage
          font-family: inherit
          font-size: 17px
          margin: -16px 13px 0 0
      .modal_info_reviews
        display: flex
        flex-direction: column
        align-items: center
    .modal_priceAndButton
      width: 284px
      height: 500px
    .infoAboutItem
      li
        list-style-type: none
        margin: 0 0 0 15px
  .modal_priceAndButton
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    p
      font-weight: 500
    .modal_Pcs
      font-family: inherit
      font-size: 19px
      color: grey
    .modalButton
      background-color: #0E49B5
      border: none
      border-radius: 8px
      color: white
      padding: 15px 32px
      text-align: center
      text-decoration: none
      display: inline-block
      font-size: 19px
      margin: 15px 0px -20px 0
      cursor: pointer

.modalButton_disabled
  border: none
  cursor: not-allowed
  background-color: #e5e5e5
  border-radius: 8px
  color: white
  padding: 15px 32px
  text-align: center
  text-decoration: none
  display: inline-block
  font-size: 19px
  margin: 15px 0px -20px 0

.modal_active
  display: flex

label:hover
  color: $blue_color
  background: rgba(0,0,0,0)



//actions

.back_to_top
  position: fixed
  left: 50px
  bottom: 100px
  width: 40px
  height: 40px
  text-align: center
  line-height: 30px
  background: #DAE2EA
  cursor: pointer
  border-radius: 10px
  display: none

.back_to_top:hover
  background: #e9ebec

.back_to_top-show
  display: block





.hidden
  position: absolute
  visibility: hidden


.img_rotate
  transform: rotate(90deg)
